.proj-top {
  width: 85%;
  margin: 10rem auto;
}
.proj-top h2 {
  font-weight: 600;
  color: #818181;
}
.projects {
  margin: 5rem auto;
  display: grid;
  row-gap: 5rem;
}

.proj-top {
  background-color: transparent;
  box-shadow: none;
}

.projects-header {
  width: 85%;
  height: 60px;
  position: fixed;
  left: 7.5%;
  right: 7.5%;
  top: 80px;
  z-index: 99;
}
.projects-header nav .inactive {
  color: #fff;
  margin-left: 15px;
}
.projects-header nav .active {
  color: rgb(17, 248, 17);
  font-weight: 800;
  font-size: 18px;
}

.project-list {
  width: 85%;
  margin: auto;
  margin-top: 140px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  overflow-y: auto;
  overflow-x: hidden;
  column-gap: 2.5rem;
}

.complete {
  width: 100%;
  border-radius: 20px;
  background-color: rgb(3, 98, 3);
}
.eightyperc {
  width: 80%;
  border-radius: 20px;
  background-color: rgb(6, 180, 6);
}
.half-complete {
  width: 50%;
  border-radius: 20px;
  background-color: rgb(153, 138, 4);
}
.tenperc {
  width: 10%;
  border-radius: 20px;
  background-color: rgb(218, 108, 6);
}
.proj-footer {
  position: absolute;
  top: 100%;
  width: 100%;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .project-list {
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
  }
  .proj-footer {
    position: relative;
  }
}
@media screen and (max-width: 480px) {
  .project-list {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}
