.about {
  width: 85%;
  margin: auto;
  margin-top: 10rem;
}
.about-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  column-gap: 5rem;
  row-gap: 2rem;
  align-items: center;
  justify-content: space-between;
}
.about-top-left h2 {
  color: #c4c4c4;
  font-weight: 700;
}
.about-top-left p {
  color: rgba(196, 196, 196, 0.96);
  margin: 0;
  margin-top: 2rem;
}
.about-top div img {
  width: 100%;
  height: 20rem;
  border-radius: 12px;
}
.experience {
  margin: 5rem 0rem;
  padding: 2rem 0rem;
  border-top: 2px solid rgba(144, 144, 144, 0.27);
  border-bottom: 2px solid rgba(144, 144, 144, 0.27);
}
.experience-head {
  margin: 2rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.experience-head h2 {
  color: #c4c4c4;
}
.experience-head a {
  color: #a3a3a3;
  text-decoration: underline;
  cursor: pointer;
}
.experience-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  column-gap: 5rem;
  row-gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .about-top,
  .experience-body {
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
  }
}
