.home-top {
  background-color: rgb(45, 45, 45);
  position: relative;
  box-shadow: 8px 0px 15px 0px rgba(78, 77, 77, 0.8);
  padding: 10px 0px 0px 0px;
}
.home-top header {
  width: 85%;
  height: 60px;
  position: fixed;
  left: 7.5%;
  right: 7.5%;
  top: 1.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 999999;
}
header nav {
  display: flex;
  align-items: center;
}
header nav .name {
  font-weight: 800;
  color: #fff;
}
header nav span {
  font-weight: 300;
}
header nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  margin-left: 50px;
}
header nav ul li .inactive {
  color: #fff;
  margin-left: 15px;
}
header nav ul li .active {
  color: rgb(17, 248, 17);
  font-weight: 800;
  font-size: 18px;
}

.socials ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.socials ul li {
  margin-left: 15px;
}
.socials ul li a {
  color: #fff;
}
.show-mobile {
  display: none;
}

/* home top content*/
.home-top-content {
  margin-top: 120px;
}
.home-top-content-inner {
  width: 85%;
  margin: auto;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.home-top-content-inner-l {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}
.home-top-content-inner-l-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15%;
}
.home-top-content-inner-l-1-h {
  font-weight: bold;
  font-size: 30px;
}
.home-top-chat-link {
  margin-top: 40px;
}
.home-top-content-inner-l-2 {
  display: flex;
  width: 100%;
}
.home-top-content-inner-l-2-n {
  margin-right: 30px;
}
.home-top-content-inner-l-2-n p {
  font-weight: 550;
  font-size: 40px;
}
.home-top-content-inner-l-2-n div {
  margin-left: 5px;
}
.home-top-content-inner-r {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  flex-basis: 50%;
}
.home-top-content-inner-r img {
  width: 55%;
}

/* 
=========================
=========================
home-second-layer
*/
.home-second-layer {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 85%;
  justify-content: center;
  align-items: center;
}
.home-second-layer-l,
.home-second-layer-r {
  flex-basis: 50%;
}
.home-second-layer-l-div {
  width: 90%;
  background-color: rgb(45, 45, 45);
  backdrop-filter: blur(20px);
  border-radius: 3px;
  padding: 5px 0px 0px 0px;
  margin-bottom: 10px;
}
.home-second-layer-l-div div {
  width: 90%;
  margin: auto;
}
.home-second-layer-r {
  display: flex;
  justify-content: flex-end;
}
.home-second-layer-r-div {
  width: 90%;
}
.about-name {
  font-weight: 600;
  font-size: 28px;
}

/* 
====================
====================
skillls
*/
.skills {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.skills div {
  text-align: center;
  width: 100%;
}

/* latest works */
.latest-works {
  display: flex;
  align-items: center;
  width: 85%;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 50px;
}
.latest-works-l,
.latest-works-r {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.latest-works-r {
  align-items: flex-end;
}
.latest-works-l-inner,
.latest-works-r-inner {
  width: 90%;
}
.latest-works-l-inner-1,
.latest-works-r-p-2 {
  width: 100%;
  margin-bottom: 15px;
}
.latest-works-l-img-con,
.latest-works-r-p-2-img-con {
  border-radius: 15px;
}
.latest-works-l-img,
.latest-works-r-p-2-img-1,
.latest-works-r-p-2-img-2 {
  height: 200px;
  background-image: url("https://res.cloudinary.com/dycyotaya/image/upload/v1605185099/jefferson-santos-9SoCnyQmkzI-unsplash_1_sodd7c.jpg");
  background-position: 20px 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(45, 45, 45);
  backdrop-filter: blur(20px);
  width: 100%;
  border-radius: 15px;
  position: relative;
}
.latest-works-r-p-2-img-1 {
  background-image: url("https://res.cloudinary.com/dycyotaya/image/upload/v1605185099/jefferson-santos-9SoCnyQmkzI-unsplash_1_sodd7c.jpg");
}
.latest-works-r-p-2-img-2 {
  background-image: url("https://res.cloudinary.com/dycyotaya/image/upload/v1605185099/jefferson-santos-9SoCnyQmkzI-unsplash_1_sodd7c.jpg");
}
/* .latest-works-l-img:hover,
.latest-works-r-p-2-img:hover {
  background: rgba(71, 68, 68, 0.5)
    url("https://res.cloudinary.com/dycyotaya/image/upload/v1605185099/jefferson-santos-9SoCnyQmkzI-unsplash_1_sodd7c.jpg");
  background-position: 20px 50px;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(20px);
  opacity: 0.5;
} */
.visit-site-link {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visit-site-link a {
  background-color: rgb(45, 45, 45);
  backdrop-filter: blur(20px);
  padding: 5px 15px;
}
.visit-site-link a:hover {
  color: rgb(17, 248, 17);
  font-weight: bolder;
}
@media screen and (max-width: 1024px) {
  .home-top-content-inner-r img {
    width: 70%;
    margin: auto;
  }
}

@media screen and (max-width: 900px) {
  .home-top-content-inner-r img {
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .show-mobile {
    display: inline;
  }
  .hide-mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    z-index: 999999999;
    text-align: center;
    background: linear-gradient(rgba(110, 110, 110), rgba(233, 222, 222));
    backdrop-filter: blur(20px);
  }
  .hide-mobile ul {
    flex-direction: column;
    height: 70%;
    margin-top: 80px;
    align-items: center;
    justify-content: space-evenly;
  }

  /* home-top */
  .home-top-content-inner {
    width: 95%;
    flex-direction: column;
  }
  .home-top-content-inner-l {
    flex-direction: row-reverse;
  }
  .home-top-content-inner-l-1 {
    margin-left: 3%;
  }
  .home-top-content-inner-l-2 {
    align-items: flex-end;
    justify-content: flex-end;
    width: 15%;
    transform: rotate(-90deg);
  }
  .home-top-content-inner-l-1-h {
    font-size: 28px;
  }
  .home-top-content-inner-l-2-n p {
    font-weight: 400;
    font-size: 26px;
  }
  .home-top-content-inner-r {
    margin-top: 20px;
  }
  .home-top-content-inner-r img {
    width: 50%;
    margin: auto;
  }

  /* 
  =============
  ==============
  second layer
  */
  .home-second-layer {
    flex-direction: column-reverse;
  }
  .home-second-layer-l,
  .home-second-layer-r {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
  }
  .home-second-layer-l-div,
  .home-second-layer-r-div {
    width: 100%;
  }

  /* latest works */
  .latest-works {
    flex-direction: column;
  }
  .latest-works,
  .latest-works-l,
  .latest-works-r {
    width: 95%;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .latest-works-l,
  .latest-works-r {
    width: 100%;
  }
  .latest-works-l-inner-1 span,
  .latest-works-l-inner-1 .contact-link-proj {
    display: none;
  }
  .skills {
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .skills {
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .skills {
    transform: rotate(35deg);
    margin-top: 80px;
  }
}
