.proj-top {
  background-color: transparent;
  box-shadow: none;
}
.projects-header {
  width: 85%;
  height: 60px;
  position: fixed;
  left: 7.5%;
  right: 7.5%;
  top: 80px;
  z-index: 99;
}
.projects-header nav .inactive {
  color: #fff;
  margin-left: 15px;
}
.projects-header nav .active {
  color: rgb(17, 248, 17);
  font-weight: 800;
  font-size: 18px;
}

.project-list {
  width: 85%;
  margin: auto;
  margin-top: 140px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  overflow-y: auto;
  overflow-x: hidden;
}
.project-list .proj-1,
.project-list .proj-2,
.project-list .proj-3,
.project-list .proj-4,
.project-list .proj-5,
.project-list .proj-6,
.project-list .proj-b-1,
.project-list .proj-b-2 {
  width: 90%;
  margin: 10px auto;
  padding: 10px 0px;
  height: 200px;
  /* background-image: url("https://res.cloudinary.com/dycyotaya/image/upload/v1617033422/WhatsApp_Image_2021-03-29_at_8.49.18_AM_2_zmoyln.jpg"); */
  background-position: 20px 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(45, 45, 45);
  backdrop-filter: blur(20px);
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
}
/* .project-list .proj-2 {
  background-image: url("https://res.cloudinary.com/dycyotaya/image/upload/v1617033422/WhatsApp_Image_2021-03-29_at_8.49.18_AM_5_j0iqe4.jpg");
}
.project-list .proj-3 {
  background-image: url("https://res.cloudinary.com/dycyotaya/image/upload/v1617033422/WhatsApp_Image_2021-03-29_at_8.49.18_AM_4_cqfm3s.jpg");
}
.project-list .proj-4 {
  background-image: url("https://res.cloudinary.com/dycyotaya/image/upload/v1617033422/WhatsApp_Image_2021-03-29_at_8.49.18_AM_1_am1xfc.jpg");
}
.project-list .proj-5 {
  background-image: url("https://res.cloudinary.com/dycyotaya/image/upload/v1617033422/WhatsApp_Image_2021-03-29_at_8.49.18_AM_3_r9usux.jpg");
}
.project-list .proj-6 {
  background-image: url("https://res.cloudinary.com/dycyotaya/image/upload/v1617033423/WhatsApp_Image_2021-03-29_at_8.49.18_AM_tjhdm9.jpg");
}
.project-list .proj-b-2 {
  background-image: url("https://res.cloudinary.com/dycyotaya/image/upload/v1617033423/WhatsApp_Image_2021-03-29_at_8.51.36_AM_1_ovlhnm.jpg");
} */
.visit-site-link {
  height: 85%;
  position: relative;
  /* display: flex; */
}
.visit-site-link video {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -99999999999999;
}

.visit-site-link a {
  background-color: rgb(45, 45, 45);
  backdrop-filter: blur(20px);
  padding: 5px 15px;
}
.visit-site-link a:hover {
  color: rgb(17, 248, 17);
  font-weight: bolder;
}
.progress-con {
  background-color: rgb(45, 45, 45);
  border-radius: 20px;
  font-size: 10px;
}
.complete {
  width: 100%;
  border-radius: 20px;
  background-color: rgb(3, 98, 3);
}
.eightyperc {
  width: 80%;
  border-radius: 20px;
  background-color: rgb(6, 180, 6);
}
.half-complete {
  width: 50%;
  border-radius: 20px;
  background-color: rgb(153, 138, 4);
}
.tenperc {
  width: 10%;
  border-radius: 20px;
  background-color: rgb(218, 108, 6);
}
.proj-footer {
  position: absolute;
  top: 100%;
  width: 100%;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .project-list {
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
  }
  .proj-footer {
    position: relative;
  }
}
@media screen and (max-width: 480px) {
  .project-list {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}
