.footer {
  box-shadow: 0px 0px 15px 0px rgba(78, 77, 77, 0.8);
  padding: 2.5rem 0;
}

footer {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

footer nav ul li .inactive {
  color: #fff;
}

footer nav ul li .active {
  color: rgb(17, 248, 17);
  font-weight: 800;
  font-size: 18px;
}
.footer-nav,
.footer-nav li .active,
.footer-nav li .inactive {
  margin-left: 0px;
}
.footer-social {
  margin-top: 10px;
}
.footer-social li {
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  footer {
    width: 90%;
    flex-direction: column;
  }
}
